@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{ 
    font-family: "Open Sans", sans-serif;

}

body{
    background-image: radial-gradient(circle at 50% -20.71%, #a6ffa7 0, #90ffab 12.5%, #76ffb0 25%, #54ffb5 37.5%,
    #08ffbb 50%, #00fbc2 62.5%, #00f8ca 75%, #00f4d3 87.5%, #00f1dc 100% );
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.contenedor{

    width: 330px;
     border-radius: 15px solid  black;
     margin: 50px auto;
    padding: 2rem 1rem;
    text-align: center;
    background-color: black;
    border: none;   
    border-radius: 20px;
    color: aliceblue;
}
form input{
 width: 92%;
 outline: none;
 padding: .5rem;
 border: 1px black solid;
 border-radius: 5px;
 margin-bottom: 10px;
 font-size: 15px;
 background-color: aliceblue ;
}
label{
    font-size:  20px;
    float: left; 
}
.button{
    /*font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    padding: 5px;
    border-radius: 15px;
    outline: none;
    border: none;
    background-color: #00f1dc;
    color:black;
    cursor: pointer;*/
    float: right;
    background-color: #00f1dc;
    padding: .5rem;
    color: white;
    border: none;
    width: 40%;
    border-radius: 5px;
    margin-right: 10px;
    float: inline-end;

    

}

.button:hover{
    background-color: white;
    color: black;
}

.Boton_ingresar{
    /*font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    padding: 5px;
    border-radius: 15px;
    outline: none;
    border: none;
    background-color: #00f1dc;
    color:black;
    cursor: pointer;*/
    
    float: inline-start;
    background-color: #00f1dc;
    padding: .5rem;
    color: white;
    border: none;
    width: 40%;
    border-radius: 5px;
    margin-right: 10px;
    text-decoration: none;

}
.Boton_ingresar:hover{
    background-color: white;
    color: black;
}

h1{
    display: block;
    border: 2px solid black;
    width: 95%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
   text-decoration: none;
}
.error{
    background-color:rgb(175,74,74);
    color: black;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 10px auto;
    }
